<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ProfitPredictor API (50 Startups)</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Iris Flower Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	Enter Sepal Length (cm): <input type="text" name="sepalLength" placeholder="Enter Sepal Length (cm) : " required="required" /><br>
        Enter Sepal Width (cm): <input type="text" name="sepalWidth" placeholder="Enter Sepal Width (cm): " required="required" /><br>
		Enter Petal length (cm):  <input type="text" name="petalLength" placeholder="Enter Petal length (cm):  " required="required" /><br>
		Enter Petal Width (cm)::  <input type="text" name="petalWidth" placeholder="Enter Petal Width (cm):  " required="required" /><br>
        

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Iris Flower</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
